{% extends 'base.html' %}

{% block title %}About Our Team | Surmount{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#2c6e49, #ffc9b9);">
    <div class="container">

        <div class="row mb-3">
            <div class="col-6 align-items-center d-flex">
                <div class="text-center">
                    <h1 style="color: black;">
                        Expertise & Services & Approach
                    </h1>

                    <p>Why you started the company. What makes you different. What are your values. What is your expertise.</p>


                    <p style="color: black;">
                        Highlight your team's expertise in web development and 
                        design, and the experience that each member brings to the table.
                        Detail the range of services your company offers, including web 
                        design, development, hosting, maintenance, and any other 
                        related services.
                        Describe your approach to web development and how you work with 
                        clients to create customized solutions that meet their needs.
                    </p>

                    <a href="{{ url_for('views.index') }}#contact-form">
                        <button type="button" class="btn btn-primary">Start your project</button>
                    </a>  
                </div>
            </div>

            <div class="col-6 align-items-center d-flex">
                <div class="text-center">
                    <p>an image</p>
                </div>
            </div>


<!--
<ul>
    <li>Responsive Website Design</li>
    <li>Applications & Database Design</li>
    <li>Brand and Graphic Design</li>
    <li>E-Commerce</li>
    <li>Production & Manufacturing Integration</li>
    <li>SEO (audits, keyword research, on-page optimization)</li>
    <li>Maintenance and Support</li>
    <li>Web Hosting</li>
    <li>Social Media Integration</li>
</ul>-->


        </div>

    </div>
</div>




{% endblock %}