{% extends 'base.html' %}

{% block title %}About Our Team | Surmount{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#1616c6, white);">
    <div class="container">

        <div class="row mb-3 justify-content-center">
            <div class="col-12 col-md-6 align-items-center d-flex">
                <div class="text-center">
                    <h1 style="color: white;" class="pb-5">
                        Dedicated To Creating Websites That Amplify Your Business
                    </h1>

                    <p style="color: white;">
                        Nothing is more frustrating than a slow, confusing, or poorly 
                        designed website or app.
                    </p>

                    <p style="color: white;" class="pb-4">
                        That's why we're driven to create simple, yet amazing experiences for our 
                        clients' users applications.
                    </p>

                    <a href="{{ url_for('views.contact') }}">
                        <button type="button" class="btn btn-primary">Let's do this</button>
                    </a>  
                </div>
            </div>

            <div class="col-12 col-md-6 align-items-center d-flex justify-content-center">
                <img src='/static/about.png' id="about-image">
            </div>


        </div>

    </div>
</div>




<div class="py-5" style="background-image:linear-gradient(#fff0ae, #fff0ae);">

    <div class="container pt-5">
        <div class="row mb-5 text-center">
            <h1 style="color: black;">
                Our Expertise
            </h1>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row mb-3 px-5 px-sm-0">
            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-up" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%">
                    <h4 class="mb-4 mt-3" style="color: white">Responsive Website Design</h4>
                    <i class="fa-solid fa-laptop-code" style="color: white; font-size: 60px;"></i>
                    <p class="mt-4" style="color: white">
                        We'll design and develop a visually stunning website that is optimized 
                        for seamless display across all devices.
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-up" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%;">
                    <h4 class="mb-4 mt-3" style="color: white">Apps & Database Integration</h4>

                    <i class="fa-solid fa-database" style="color: white; font-size: 60px;"></i>

                    <p class="mt-4" style="color: white">
                        We specialize in integrating apps and databases to simplify your workflows, 
                        enhance your performance, and ensure data security.
                    </p>

                </div>
            </div>

            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-up" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%;">
                    <h4 class="mb-4 mt-3" style="color: white">SEO & Keyword Research</h4>

                    <i class="fa-solid fa-magnifying-glass" style="color: white; font-size: 60px;"></i>

                    <p class="mt-4" style="color: white">
                        Climb the search engine ranks and drive traffic to your website with our expert SEO strategies and keyword research.
                    </p>                    
                </div>
            </div>
        </div>

        <div class="row mb-3 px-5 px-sm-0">
            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-up" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%">
                    <h4 class="mb-4 mt-3" style="color: white">Production Monitoring Tools</h4>
                    <i class="fa-solid fa-chart-column" style="color: white; font-size: 60px;"></i>
                    <p class="mt-4" style="color: white">
                        Maximize your system uptime and minimize downtime with our reliable and efficient production monitoring tools.
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-up" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%;">
                    <h4 class="mb-4 mt-3" style="color: white">E-Commerce & Social Media Integration</h4>

                    <i class="fa-solid fa-store" style="color: white; font-size: 60px;"></i>

                    <p class="mt-4" style="color: white">
                        Expand your online presence, boost your sales, and connect with your customers on a 
                        deeper level with our e-commerce and social media integration services.
                    </p>

                </div>
            </div>

            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-up" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%;">
                    <h4 class="mb-4 mt-3" style="color: white">Web Hosting & Backups</h4>

                    <i class="fa-solid fa-server" style="color: white; font-size: 60px;"></i>

                    <p class="mt-4" style="color: white">
                        Ensure your website is always up and running smoothly with our secure and reliable web hosting and backup solutions.
                    </p>                    
                </div>
            </div>
        </div>

        <div class="row text-center pt-5">
            <h2 style="color: black;" class="pb-5">
                We'd love to hear about your next big project!
            </h2>

            <a href="{{ url_for('views.contact') }}">
                <button type="button" class="btn btn-primary">Let's talk</button>
            </a>  
        </div>
    </div>


</div>






{% endblock %}