{% extends 'base.html' %}

{% block title %}Our Blog | Surmount{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#1616c6, white);">
    <div class="container">
        <div class="text-center">
            <h1 style="color: white;" class="pb-5">
                The Latest Insights in Web Design
            </h1>
        </div>
    </div>
</div>




<div class="py-5" style="background-color: white;">

    <div class="container pb-5">
        <ul>
            <li>
                <a id="blog_link" href="{{ url_for('views.responsive_design_tips') }}">How to Create a Website that Looks Great on Any Device</a>  
            </li>
            <li>
                <a id="blog_link" href="{{ url_for('views.web_app_factors') }}">5 Key Factors to Consider When Building a Web Application for a New Business: A Guide to UX, Functionality, Security, Performance, and Maintenance</a>  
            </li>
        </ul>

    </div>


</div>






{% endblock %}