<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surmount - New Client</title>
</head>
<body>
    <h1>New contact form message</h1>

    <ul>
        <li>First name: {{ first_name }}</li>
        <li>Last name: {{ last_name }}</li>
        <li>Email: {{ email }}</li>
        <li>Phone: {{ phone }}</li>
        <li>Message: {{ message }}</li>
        <li>Budget: {{ budget }}</li>
    </ul>

    <p>Congrats on the new client!</p>
</body>
</html>