{% extends 'base.html' %}

{% block title %}San Antonio Web Design & Development | Surmount{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#9494FF, white);">
    <div class="container">

        <div class="row mb-3">
            <div class="col-12 col-md-6 align-items-center d-flex mb-4 px-5">
                <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
                    <h1 style="color: black;" class="mb-4">
                        Your Partner For Stunning, High-Performing Websites.
                    </h1>

                    <p style="color: black;">
                        Ready to elevate your online presence? 
                        Let's work together to create a website that truly 
                        represents your brand and helps you achieve your online goals.
                    </p>

                    <div data-aos="zoom-in" data-aos-delay="500" data-aos-duration="500" class="pt-4">
                        <a href="{{ url_for('views.contact') }}">
                            <button type="button" class="btn btn-primary">Start your project</button>
                        </a> 
                    </div> 
                </div>
            </div>

            <div class="col-12 col-md-6 align-items-center d-flex justify-content-center">
                <div data-aos="fade-up" data-aos-duration="1000">
                    <img src='/static/web_builders.png' alt="A team of developers building a website." id="web_builders">
                </div>
            </div>


        </div>

    </div>
</div>



<div class="py-5">
    <div class="container pt-5">
        <div class="row mb-5 text-center" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
            <h1 style="color: black;">
                Our Gameplan
            </h1>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row mb-3 px-5 px-sm-0">
            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%">
                    <h4 class="mb-4 mt-3" style="color: white">Outline your goals</h4>
                    <i class="fa-solid fa-bullseye" style="color: white; font-size: 60px;"></i>
                    <p class="mt-4" style="color: white">
                        We'll meet to learn about your business and your expectations. 
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-right" data-aos-delay="700" data-aos-duration="500" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%;">
                    <h4 class="mb-4 mt-3" style="color: white">Build together</h4>

                    <i class="fa-solid fa-code" style="color: white; font-size: 60px;"></i>

                    <p class="mt-4" style="color: white">
                        We'll have recurring check-ins throughout the build to ensure your requirements are met.
                    </p>

                </div>
            </div>

            <div class="col-sm-12 col-md-4 justify-content-center homepage-cols mb-4">
                <div class="text-center" data-aos="fade-right" data-aos-delay="1100" data-aos-duration="500" style="background-color: #1616c6; border-radius: 20px; padding: 20px; height: 100%;">
                    <h4 class="mb-4 mt-3" style="color: white">Deploy and grow</h4>

                    <i class="fa-solid fa-rocket" style="color: white; font-size: 60px;"></i>

                    <p class="mt-4" style="color: white">
                        Once we're ready to launch, we'll provide you with admin access for your site. 
                    </p>                    
                </div>
            </div>
        </div>
    </div>
</div>



<div class="py-5" style="background-image:linear-gradient(white, #9494FF);">
    <div class="container py-5">
        <div class="row mb-3">
            <div class="col-12 col-md-6 align-items-center d-flex justify-content-center order-2 order-md-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                <div>
                    <img src='/static/expertise.png' alt="A woman using a laptop to create a wide array of web-based applications." id="expertise">
                </div>
            </div>

            <div class="col-12 col-md-6 d-flex order-1 order-md-2" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <div class="container">

                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <h1 style="color: black;">
                                Ways We Can Help
                            </h1>
                        </div>
                    </div>

                    <div class="row mb-sm-0 mb-md-3">
                        <div class="col-md-6 col-sm-12 mb-3 mb-sm-3">
                            <div class="text-center p-3" style="background-color: #f8f7ff; border-radius: 20px; height: 100%;">
                                <p>Responsive Web Applications</p>

                                <i class="fa-solid fa-mobile-screen-button" style="color: #040056; font-size: 45px;"></i>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 mb-3 mb-sm-3">
                            <div class="text-center p-3" style="background-color: #f8f7ff; border-radius: 20px; height: 100%;">
                                <p>E-Commerce Websites & SEO Strategy</p>

                                <i class="fa-solid fa-cart-shopping" style="color: #040056; font-size: 45px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-sm-0 mb-md-3">
                        <div class="col-md-6 col-sm-12 mb-3 mb-sm-3">
                            <div class="text-center p-3" style="background-color: #f8f7ff; border-radius: 20px; height: 100%;">
                                <p>Branding and Graphic Design Packages</p>

                                <i class="fa-solid fa-pencil" style="color: #040056; font-size: 45px;"></i>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 mb-3 mb-sm-3">
                            <div class="text-center p-3" style="background-color: #f8f7ff; border-radius: 20px; height: 100%;">
                                <p>24/7 Maintenance & Support</p>

                                <i class="fa-solid fa-screwdriver-wrench" style="color: #040056; font-size: 45px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-5 pb-md-0">
                        <div class="text-center" data-aos="zoom-in" data-aos-delay="800" data-aos-duration="500">
                            <a href="{{ url_for('views.about') }}">
                                <button type="button" class="btn btn-primary">Check out our other services</button>
                            </a>  
                        </div>
                    </div>
            
                <!-- Close container div -->
                </div>
            <!-- Close column div -->
            </div>

        </div>
    </div>
</div>






<div class="py-5" id="portfolio-div">
    <div class="pb-5"></div>
    <div class="container pt-5">
        <div class="row mb-3 pb-4">
            <div class="text-center" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                <h1 style="color: black;">
                    See What We've Been Up To
                </h1>
            </div>
        </div>

        <div class="row mb-3 px-5 py-5 mt-5 justify-content-center" style="background-image:linear-gradient(green, white);">

            <div class="row justify-content-center text-center pt-5 pb-2 pb-md-4"
                data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
                <div class="row">
                    <h3 style="color: white;">Logistics Management App</h3>
                </div>

                <div class="row">
                    <p style="color: white;">Web-based application with MySQL database connection</p>
                </div>
            </div>



            <div class="row pb-5">
                <div class="col-12 col-md-4 align-items-center d-flex">
                    <div class="text-center" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                        <img src='/static/cf1.png' style="width: 100%; height: auto;">
                    </div>
                </div>
    
                <div class="col-12 col-md-4 align-items-center d-flex">
                    <div class="text-center" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1000">
                        <img src='/static/cf3.png' style="width: 100%; height: auto;">
                    </div>
                </div>
    
                <div class="col-12 col-md-4 align-items-center d-flex">
                    <div class="text-center" data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1000">
                        <img src='/static/cf2.png' style="width: 100%; height: auto;">
                    </div>
                </div>
            </div>

        </div>


        <div class="row mb-3 px-5 py-5 mt-5 justify-content-center" style="background-image:linear-gradient(#1E96FC, white);">

            <div class="row justify-content-center text-center pt-5 pb-2 pb-md-4"
                data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
                <div class="row">
                    <h3 style="color: white;">Lab Test Booking Platform</h3>
                </div>

                <div class="row">
                    <p style="color: white;">Responsive application with e-commerce connection for shipping and payments.</p>
                    <p style="color: white;">We also provided the branding and graphic design package.</p>
                </div>
            </div>



            <div class="row pb-5">
                <div class="col-12 col-md-4 align-items-center d-flex">
                    <div class="text-center" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                        <img src='/static/usl1.png' style="width: 100%; height: auto;">
                    </div>
                </div>
    
                <div class="col-12 col-md-4 align-items-center d-flex" >
                    <div class="text-center" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1000">
                        <img src='/static/usl3.png' style="width: 100%; height: auto;">
                    </div>
                </div>
    
                <div class="col-12 col-md-4 align-items-center d-flex">
                    <div class="text-center" data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1000">
                        <img src='/static/usl2.png' style="width: 100%; height: auto;">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>





<div style="background-image:linear-gradient(white, #9494FF);" id="contact-form">
    <div class="pb-5"></div>
    <div class="pb-5 text-center" style="padding-top: 110px;">
        <div class="container">
            <div id="contact-form-container">
                <div class="pb-5">
                    <h1 style="color: black;">Let's Partner Up</h1>
                    <p style="color: black;">Complete the form below or send us a text at (210) 772-5221</p>
                </div>

                <form action="{{ url_for('views.contact') }}" method="POST">

                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                    placeholder="First Name">
                                <label for="first_name">First Name</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                placeholder="Last Name">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email"
                                placeholder="Email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" name="phone" id="phone" 
                                placeholder="Phone Number" maxlength="15"/> 
                                <label for="phone">Phone Number</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" name="message"
                                placeholder="Tell us about your project" style="height: 150px"></textarea>
                                <label for="message">Tell us about your project</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="panda" name="panda"
                                    placeholder="Pandas are black and">
                                <label for="panda">Pandas are black and</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-5">
                                <select class="form-select" style="padding-top: 12px;" name="budget" id="budget" required>
                                    <option selected disabled value="">What's your budget?</option>
                                    {% for option in options %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endfor %}
                                </select>

                                <div>
                                    <p style="font-size: 14px; text-align: left;">We believe in transparent communication. Our goal is to be upfront about what we can and can't do, providing you with realistic expectations and tailored solutions that align with your financial constraints.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script>
    const form = document.querySelector('form');
    const budgetSelect = document.getElementById('budget');

    form.addEventListener('submit', function(event) {
        if (budgetSelect.value === '') {
            event.preventDefault(); // Prevent form submission
            alert('Please select a budget option.'); // Show an error message
        }
    });
</script>

{% endblock %}