{% extends 'base.html' %}

{% block title %}Surmount Web Design & Development{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#9381ff, #ffeedd);">
    <div class="container">

        <div class="row mb-3">
            <div class="col-6 align-items-center d-flex">
                <div class="text-center">
                    <h1 style="color: black;" class="mb-4">
                        Your partner for stunning, high-performing websites.
                    </h1>

                    <p style="color: black;">
                        Ready to elevate your online presence? 
                        Let's work together to create a website that truly 
                        represents your brand and helps you achieve your online goals.
                    </p>

                    <a href="#">
                        <button type="button" class="btn btn-primary">Start your project</button>
                    </a>  
                </div>
            </div>

            <div class="col-6 align-items-center d-flex justify-content-center">
                <div>
                    <img src='/static/web_builders.png' alt="A team of developers building a website." id="web_builders">
                </div>
            </div>


        </div>

    </div>
</div>



<div class="py-5" style="background-color: #ffeedd;">
    <div class="container">
        <div class="row mb-5 text-center">
            <h1 style="color: black;">
                How We Do Things
            </h1>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row mb-3">
            <div class="col-4 justify-content-center homepage-cols">
                <div class="text-center" style="background-color: #3F407E; border-radius: 20px; padding: 20px; height: 100%">
                    <h4 class="mb-4 mt-3" style="color: white">Outline your goals</h4>
                    <i class="fa-solid fa-bullseye" style="color: white; font-size: 60px;"></i>
                    <p class="mt-4" style="color: white">
                        We'll meet to learn about your business and your expectations. 
                    </p>
                </div>
            </div>

            <div class="col-4 justify-content-center homepage-cols">
                <div class="text-center" style="background-color: #3F407E; border-radius: 20px; padding: 20px; height: 100%;">
                    <h4 class="mb-4 mt-3" style="color: white">Build together</h4>

                    <i class="fa-solid fa-code" style="color: white; font-size: 60px;"></i>

                    <p class="mt-4" style="color: white">
                        We'll have recurring check-ins throughout the build to ensure your requirements are met.
                    </p>

                </div>
            </div>

            <div class="col-4 justify-content-center homepage-cols">
                <div class="text-center" style="background-color: #3F407E; border-radius: 20px; padding: 20px; height: 100%;">
                    <h4 class="mb-4 mt-3" style="color: white">Deploy and grow</h4>

                    <i class="fa-solid fa-rocket" style="color: white; font-size: 60px;"></i>

                    <p class="mt-4" style="color: white">
                        Once we're ready to launch, we'll provide you with admin access for your site. 
                    </p>                    
                </div>
            </div>
        </div>
    </div>
</div>



<div class="py-5" style="background-image:linear-gradient(#ffeedd, #9381ff);">
    <div class="container">
        <div class="row mb-3">

            <div class="col-6 align-items-center d-flex justify-content-center">
                <div>
                    <img src='/static/expertise.png' alt="A woman using a laptop to create a wide array of web-based applications." id="expertise">
                </div>
            </div>

            <div class="col-6 d-flex">

                <div class="container">

                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <h1 style="color: black;">
                                Our Expertise
                            </h1>
                        </div>
                    </div>

                    <div class="row mb-sm-0 mb-md-3">
                        <div class="col-md-6 col-sm-12 mb-sm-3">
                            <div class="text-center p-3" style="background-color: #f8f7ff; border-radius: 20px; height: 100%;">
                                <p>Responsive Web Applications</p>

                                <i class="fa-solid fa-mobile-screen-button" style="color: #3f407e; font-size: 45px;"></i>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 mb-sm-3">
                            <div class="text-center p-3" style="background-color: #f8f7ff; border-radius: 20px; height: 100%;">
                                <p>E-Commerce Websites & SEO Strategy</p>

                                <i class="fa-solid fa-cart-shopping" style="color: #3f407e; font-size: 45px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-sm-0 mb-md-3">
                        <div class="col-md-6 col-sm-12 mb-sm-3">
                            <div class="text-center p-3" style="background-color: #f8f7ff; border-radius: 20px; height: 100%;">
                                <p>Branding and Graphic Design Packages</p>

                                <i class="fa-solid fa-pencil" style="color: #3f407e; font-size: 45px;"></i>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 mb-sm-3">
                            <div class="text-center p-3" style="background-color: #f8f7ff; border-radius: 20px; height: 100%;">
                                <p>24/7 Maintenance & Support</p>

                                <i class="fa-solid fa-screwdriver-wrench" style="color: #3f407e; font-size: 45px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <a href="{{ url_for('views.about') }}">
                                <button type="button" class="btn btn-primary">Check out our other services</button>
                            </a>  
                        </div>
                    </div>
            
                <!-- Close container div -->
                </div>
            <!-- Close column div -->
            </div>

        </div>
    </div>
</div>






<div class="py-5" style="background-image:linear-gradient(#9381ff, #ffeedd);">
    <div class="container">
        <div class="row mb-3">
            <div class="text-center">
                <h1 style="color: black;">
                    What We've Been Up To
                </h1>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4 align-items-center d-flex">
                <div class="text-center">
                    <h4>Portfolio 1 image one</h4>
                </div>
            </div>

            <div class="col-4 align-items-center d-flex">
                <div class="text-center">
                    <h4>Portfolio 1 image 2</h4>
                </div>
            </div>

            <div class="col-4 align-items-center d-flex">
                <div class="text-center">
                    <h4>Portfolio 1 image 3</h4>
                </div>
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-4 align-items-center d-flex">
                <div class="text-center">
                    <h4>Portfolio 2 image one</h4>
                </div>
            </div>

            <div class="col-4 align-items-center d-flex">
                <div class="text-center">
                    <h4>Portfolio 2 image 2</h4>
                </div>
            </div>

            <div class="col-4 align-items-center d-flex">
                <div class="text-center">
                    <h4>Portfolio 2 image 3</h4>
                </div>
            </div>

        </div>
    </div>
</div>





<div style="background-image:linear-gradient(#ffeedd, #9381ff);">
    <div class="pb-5 text-center" id="contact-form" style="padding-top: 110px;">
        <div class="container">
            <div id="contact-form-container">
                <div class="pb-5">
                    <h1 style="color: black;">Let's Partner Up!</h1>
                    <p style="color: black;">Complete the form below or send us a text at (512) 766-6884</p>
                </div>

                <form action="{{ url_for('views.contact_confirmation') }}" method="POST">

                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                    placeholder="First Name">
                                <label for="first_name">First Name</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                placeholder="Last Name">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email"
                                placeholder="Email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" name="phone" id="phone" 
                                placeholder="Phone Number" maxlength="15"/> 
                                <label for="phone">Phone Number</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-5">
                            

                                <textarea class="form-control" id="message" name="message"
                                placeholder="Tell us about your project" style="height: 150px"></textarea>
                                <label for="message">Tell us about your project</label>

                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}