{% extends 'base.html' %}

{% block title %}Pricing Packages | Surmount{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#9381ff, #ffeedd);">
    <div class="container">

        <div class="row mb-3">
            <p>$1k per small project</p>
            <p>$5k per large project</p>

            <p>
                Just starting off? Depending on your startup, we'll take equity in your business
                in exchange for building your web application. (Let's talk call-to-action)
            </p>


        </div>

    </div>
</div>



{% endblock %}