{% extends 'base.html' %}

{% block title %}Pricing{% endblock %}

{% block content %}


<div class="pt-5">
    <div class="container">
        <div class="text-center">
            <h1 style="color: black;" class="pb-5">
                Plans and Pricing
            </h1>
        </div>
    </div>
</div>



<div class="pb-5" style="background-color: white;">
    <div class="container">

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="m-0">For Established Businesses <i class="fa-solid fa-briefcase" style="color: black; font-size: 30px;"></i></h3>
                    </div>

                    <div class="mx-3">
                        <p class="pt-3" style="color: black;">Specific pricing depends on many factors, such as project type, scope, design requirements, and desired turnaround time.</p>
                        <p style="color: black;">Here are some general prices for reference, although they may be modified depending on the project:</p>

                        <table>
                            <tr>
                                <th>Project Category</th>
                                <th>Low End</th>
                                <th>High End</th>
                            </tr>
                            <tr>
                                <td>Repsonsive Website</td>
                                <td>$1,000</td>
                                <td>$10,000</td>
                            </tr>
                            <tr>
                                <td>SEO and Keyword Research/Strategy</td>
                                <td>$100/month</td>
                                <td>$500/month</td>
                            </tr>
                            <tr>
                                <td>Web Application with Database</td>
                                <td>$5,000</td>
                                <td>$20,000</td>
                            </tr>

                            <tr>
                                <td>Production Monitoring Tools</td>
                                <td>$5,000</td>
                                <td>$20,000</td>
                            </tr>

                            <tr>
                                <td>E-Commerce Website</td>
                                <td>$5,000</td>
                                <td>$20,000</td>
                            </tr>
                        </table>

                        <div class="text-center py-5">
                            <a href="{{ url_for('views.contact') }}">
                                <button type="button" class="btn btn-primary">Get a custom quote</button>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="m-0">For Startups <i class="fa-solid fa-rocket" style="color: black; font-size: 30px;"></i></h3> 
                    </div>

                    <div class="mx-3">
                        <p style="color: black;" class="pt-3">
                            Depending on your startup, we'll take equity in your business
                            in exchange for building your web product.
                        </p>

                        <div class="text-center pt-3 pb-5">
                            <a href="{{ url_for('views.contact') }}">
                                <button type="button" class="btn btn-primary">Let's talk</button>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}