/* SURMOUNT COLOR PALETTE
RED: #e3adb1
OFF-WHITE: #F1FAEE
MINT: #A8DADC
DARK BLUE: #457B9D
NAVY: #1D3557

*/

.navbar-custom {
  background-color: #9381ff;
}


.navbar-toggler {
  border: 1px solid white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #A8DADC;
}

.navbar-collapse {
  transition: none;
}


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main-content {
  flex: 1;
}


#contact-form-container {
  max-width: 700px;
  margin: 0 auto;
}

textarea#message.form-control:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {   
  border-color: #e3adb1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #e3adb1;
  outline: 0 none;
}


h1, h2, h3, h4, h5, h6 {
  /* sans-serif is the fallback font */
  font-family: 'Montserrat', sans-serif;
}

p, .nav-link, .btn-primary, .footer,
  select, th, td, li {
  /* sans-serif is the fallback font */
  font-family: 'Nunito', sans-serif;
}


.btn-primary {
  background-color: #f8f7ff;
  border-color: black;
  color: black;
}

.btn-primary:hover {
  background-color: #b8b8ff;
  border-color: black;
  color: black;
}

.btn-reversed {
  background-color: #A8DADC;
  border-color: black;
  color: black;
}

.btn-reversed:hover {
  background-color: #e3adb1;
  border-color: black;
  color: black;
}




.footer {
  margin-top: auto;
  background-color: #9381ff;
}

.footer-row {
  width: 100%;
}


/*small screen*/
@media (max-width: 499px) {
  .container-fluid {
    max-width: 100%;
  }

  #web_builders {
    max-width: 100%;
    max-height: 100%;
  }
}

/*medium-small screen*/
@media (min-width: 500px) {
  .container-fluid {
    max-width: 100%;
  }

  #web_builders {
    max-width: 100%;
    max-height: 100%;
  }
}

/*medium-large screen*/
@media (min-width: 768px) {
  .container-fluid {
    max-width: 100%;
  }

  #web_builders {
    max-width: 100%;
    max-height: 100%;
  }
}

/*large screen*/
@media (min-width: 1024px) {
  .container-fluid {
    max-width: 100%;
  }

  #web_builders {
    width: 400px;
    height: auto;
  }
}