/* SURMOUNT COLOR PALETTE
RED: #e3adb1
OFF-WHITE: #F1FAEE
MINT: #A8DADC
DARK BLUE: #457B9D
NAVY: #1D3557

*/

.navbar-custom {
  background-color: #1616c6;
}


.navbar-toggler {
  border: 1px solid white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #FFDD33;
}

.navbar-collapse {
  transition: none;
}


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main-content {
  flex: 1;
}


#contact-form-container {
  max-width: 700px;
  margin: 0 auto;
}

textarea#message.form-control:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {   
  border-color: #e3adb1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #e3adb1;
  outline: 0 none;
}


h1, h2, h3, h4, h5, h6 {
  /* sans-serif is the fallback font */
  font-family: 'Montserrat', sans-serif;
}

p, .nav-link, .btn-primary, .footer,
  select, th, td, li {
  /* sans-serif is the fallback font */
  font-family: 'Nunito', sans-serif;
}


ul {
  margin-left: 30px;
}

ul ul {
  margin-left: 30px;
}


.btn-primary {
  background-color: #f8f7ff;
  border-color: black;
  color: black;
}

.btn-primary:hover {
  background-color: #8282FF;
  border-color: black;
  color: white;
}

.btn-reversed {
  background-color: #8282FF;
  border-color: black;
  color: white;
}

.btn-reversed:hover {
  background-color: #f8f7ff;
  border-color: black;
  color: black;
}




.footer {
  margin-top: auto;
  background-color: #1616c6;
}



/*small screen*/
@media (max-width: 499px) {
  .container-fluid {
    max-width: 100%;
  }

  #web_builders {
    width: 250px;
    height: auto;
  }

  #expertise {
    width: 250px;
    height: auto;
  }

  #navbar-logo {
    width: 140px;
    height: auto;
  }
}

/*medium-small screen*/
@media (min-width: 500px) {
  .container-fluid {
    max-width: 100%;
  }

  #web_builders {
    width: 300px;
    height: auto;
  }

  #expertise {
    width: 300px;
    height: auto;
  }

  #navbar-logo {
    width: 140px;
    height: auto;
  }
}

/*medium-large screen*/
@media (min-width: 768px) {
  .container-fluid {
    max-width: 100%;
  }

  #web_builders {
    max-width: 100%;
    max-height: 100%;
  }

  #expertise {
    width: 350px;
    height: auto;
  }

  #navbar-logo {
    width: 150px;
    height: auto;
  }

  .homepage-cols {
    padding: 0px 25px;
  }
}

/*large screen*/
@media (min-width: 1024px) {
  .container-fluid {
    max-width: 100%;
  }

  #web_builders {
    width: 400px;
    height: auto;
  }

  #expertise {
    width: 400px;
    height: auto;
  }

  #navbar-logo {
    width: 175px;
    height: auto;
  }

  .homepage-cols {
    padding: 0px 50px;
  }
}